body {
    background-color: rgba(0, 0, 0, 0.433); 
    color: #ffffff;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 15px;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    text-shadow: 1px 1px 2px black; 
}

#slide-info {
    font-size: 12px;
    color: #ffd700;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}

#script-text {
    font-size: 22px;
    line-height: 1.4;
    font-weight: 500;
}